.example-form {
    min-width: 70px;
    max-width: 350px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .mat-raised-button.mat-green{
    background-color: #673ab7;
    color: white;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
 }

 ::selection {
  background: #673ab7;
  color: white;
}
