<div fxLayout="row"  fxLayoutAlign="space-evenly center">
        <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                        <input
                        matInput
                        placeholder="email@gmail.com"
                        [(ngModel)]="email"
                        name="myEmail"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        required
                        style="width: 200px !important"
                        >
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                          <input
                          matInput
                          type="password"
                          [(ngModel)]="password"
                          name="myPassword"
                          required
                          style="width: 200px !important"
                          >
                  </mat-form-field>
        </form>

</div>
<div fxLayout="column"  fxLayoutAlign="space-evenly end">
  <button mat-raised-button color="green" (click)="enter()">Submit</button>
</div>

