.mat-raised-button.mat-green{
    background-color: green;
    color: white;
 }

 .chip{
  background-color: red;
  color: white;
  font-size: larger;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .blue-snackbar {
    background: #2196F3;
  }