<div fxLayout="column">
    <div fxLayout="row"  fxLayoutAlign="center">
        <div *ngIf="!face.isIdentified && !face.userUnsure">
            <h1 class="faceTitle">We weren't sure about this one. ({{currentFaceIndex + 1}}/{{faceGroupLength + 1}})</h1>
        </div>
        <div *ngIf="face.isIdentified && !face.userConfirmed">
            <h1 class="faceTitle">We're pretty sure this is {{face.fullName}}. Please confirm. ({{currentFaceIndex + 1}}/{{faceGroupLength + 1}})</h1>
        </div>
        <div *ngIf="face.userConfirmed">
            <h1 class="faceTitle">You've confirmed that this is {{face.fullName}}. ({{currentFaceIndex + 1}}/{{faceGroupLength + 1}})</h1>
        </div>
        <div *ngIf="face.userUnsure">
          <h1 class="faceTitle">You've said you're not sure who this is. ({{currentFaceIndex + 1}}/{{faceGroupLength + 1}})</h1>
      </div>
        <h1></h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
        <div>
            <img src="{{face.pictureUrl}}">
        </div>
    </div>
    <br/>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <button mat-fab color="primary" (click)="back()"><mat-icon>west</mat-icon></button>
            <button mat-fab color="primary" (click)="next()"><mat-icon>east</mat-icon></button>
    </div>

        <div fxLayout="row"  fxLayoutAlign="center">
            <div class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput [(ngModel)]="fullName" [name]="fullName">
                </mat-form-field>
            </div>
        </div>
    <br/>
        <div fxLayout="row"  fxLayoutAlign="center">
            <button mat-raised-button color="warn" (click)="unsure()">Don't Know</button>
            <button mat-raised-button color="green" (click)="identify()">Identify</button>
        </div>

        <br/>
          <div fxLayout="row"  fxLayoutAlign="center" *ngIf="showEmptyFieldsError">
            <mat-chip-list>
                <mat-chip class="chip">
                    Must enter a name to identify
                  </mat-chip>
            </mat-chip-list>
          </div>
</div>
