<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <h1>Please enter the date of the service you would like to verfiy.</h1>
</div>
<br/>
<br/>
<br/>
<br/>
<div fxLayout="row" fxLayoutAlign="center center">
    <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="serviceDate" [(ngModel)]="serviceDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
</form>
<button mat-raised-button color="green" (click)="enter()">Enter</button>

</div>
